version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: desafio-mercado-livre-postgres
    environment:
      POSTGRES_DB: mercado_livre_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: changeme
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d mercado_livre_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - desafio-network

volumes:
  postgres_data:
    driver: local

networks:
  desafio-network:
    driver: bridge
