name: Proteger Master

on:
  push:
    branches:
      - master

jobs:
  block-direct-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Bloquear push direto na master
        run: |
          echo "❌ Push direto na branch master não é permitido!"
          echo "Por favor, crie um Pull Request para suas alterações."
          exit 1
